# Librerías y configuraciones

In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_colwidth', 100)

---

# Carga de datos

In [4]:
df_genres = pd.read_csv('data/df_genres.csv')
df_item_genre = pd.read_csv('data/df_item_genre.csv')
# df_items = pd.read_csv('data/df_items.csv')
df_reviews = pd.read_csv('data/df_reviews.csv')
df_users_items = pd.read_csv('data/df_users_items.csv')
df_users = pd.read_csv('data/df_users.csv')
df_user_id_item_id_price = pd.read_csv("data/df_user_id_item_id_price.csv")
df_developer = pd.read_csv('data/df_developer.csv')

----

1. def userdata( User_id : str ): 
    Debe devolver 
    * cantidad de dinero gastado por el usuario,  
    * el porcentaje de recomendación en base a reviews.recommend
    * cantidad de items.

In [5]:
def userdata(user_id: str):
    # Si el usuario no existe devuelve: {'dinero_gastado': 0.0, 'porcentaje_de_recomendaciones': nan, 'items_recomendados': 0, 'items_comprados': 0}
    
    user_id = user_id.strip()

    if any(part in user_id for part in df_user_id_item_id_price['user_id']):

        # Dinero gastado
        df_filtrado_dinero = df_user_id_item_id_price[df_user_id_item_id_price.user_id == user_id]
        dinero_gastado = round(df_filtrado_dinero.price.sum(),2)

        # Porcentaje de recomendaciones
        df_filtrado_recomendaciones = df_reviews[df_reviews.user_id == user_id]
        
        if df_filtrado_recomendaciones.shape[0] == 0:
            porcentaje_de_recomendacion = 0
        else:
            porcentaje_de_recomendacion = round(df_filtrado_recomendaciones.recommend.mean(),3)*100
        
        # items comprados
        items_comprados = int(df_filtrado_dinero.shape[0])
        
        # items recomendados
        items_recomendados = int(df_filtrado_recomendaciones.shape[0])

        out = {"dinero_gastado":dinero_gastado, "porcentaje_de_recomendaciones": porcentaje_de_recomendacion, 'items_recomendados': items_recomendados,'items_comprados':items_comprados}

    else:
         out = (F'El usuario {user_id}, no éxiste. Intente nuevamente. EJ: "76561197970982479"')

    return out

In [6]:
userdata('76561197970982479')

{'dinero_gastado': 2772.39,
 'porcentaje_de_recomendaciones': 100.0,
 'items_recomendados': 3,
 'items_comprados': 169}

In [7]:
df_user_id_item_id_price[df_user_id_item_id_price.user_id == '0212030']

         user_id  item_id  price
2345493  0212030     4560  19.99
2345494  0212030    20540  19.99
2345495  0212030    10500  19.99
2345496  0212030      730  14.99
2345497  0212030     8930  29.99

In [8]:
df_reviews[df_reviews.user_id == '0212030']

Empty DataFrame
Columns: [user_id, item_id, helpful, recommend, posted_date, year, sentiment_analysis]
Index: []

----

2. def countreviews( YYYY-MM-DD y YYYY-MM-DD : str ): 
    * Cantidad de usuarios que realizaron reviews entre las fechas dadas y, 
    * el porcentaje de recomendación de los mismos en base a reviews.recommend.

In [9]:
####### --------------->>>  Función 2

def countreviews (fecha_inicio:(str), fecha_fin):

    df_filtrado = df_reviews[(df_reviews['posted_date'] >= fecha_inicio) & (df_reviews['posted_date'] <= fecha_fin)]
    cant_usuarios = df_filtrado.shape[0]
    porcentaje_de_recomendacion = round(df_filtrado.recommend.mean()*100,3) # andaba cuando era round(df_filtrado.recommend.mean(),3)*100
    return {"cantidad":cant_usuarios, "porcentaje":porcentaje_de_recomendacion}
    # return df_filtrado

In [10]:
# pruebas
countreviews('2011-11-05' , '2011-11-20')

{'cantidad': 14, 'porcentaje': 92.857}

In [11]:
# el df df_reviews tiene valores nulos en la columna posted_date. Revisar como influyen en la funcion, si los toma en cuenta, si los ignora, etc.
#  se podria agregar un verificador de fechas validas.

---

3. def genre( género : str ): 
    * Devuelve el puesto en el que se encuentra un género sobre el ranking de los mismos analizado bajo la columna PlayTimeForever.

In [12]:
####### --------------->>>  Función 3

def genre (genero):
    genero_minusculas = genero.lower().strip()
    if genero_minusculas in list(df_genres.name):
        puesto = int(df_genres[df_genres.name == genero_minusculas].reset_index().at[0,'ranking'])
        salida = {"genero": genero_minusculas, "ranking":puesto}
    else:
        puesto = f'El genero {genero_minusculas} no se encuentra. Intente nuevamente. Ej: Action'
        salida = {puesto}
    return salida

In [13]:
# Pruebas
print(genre ('strategy'))
print(genre ('action '))
print(genre ('    ACTION'))
print(genre ('strateggggy'))

{'genero': 'strategy', 'ranking': 6}
{'genero': 'action', 'ranking': 1}
{'genero': 'action', 'ranking': 1}
{'El genero strateggggy no se encuentra. Intente nuevamente. Ej: Action'}

----


4.
def userforgenre( género : str ): 
        games.genres
        games.id (item_id)
    Top 5 de usuarios
        head(5)
    con más horas de juego en el género dado, 
        item_df.items.playtime_forever
    con su URL (del user) y 
        items_df.user_url
    user_id.
        items_df.user_id

        *tabla genre
        *tabla genre_item
        *tabla items:        
        *tabla user_item:
        *tabla user:

In [14]:
df_item_genre.head(2)

   item_id  genres
0   761140  action
1   761140  casual

In [15]:
df_users_items.head(2)

             user_id  item_id  playtime_forever
0  76561197970982479       10                 6
1  76561197970982479       30                 7

In [16]:
df_users.head(2)

,Unnamed: 0,user_id,items_count,user_url
0,0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970982479
1,1,js41637,888,http://steamcommunity.com/id/js41637

In [31]:
# -->>>> funcion 4

def userforgenre( genero : str ): 
    genero_min = genero.lower().strip()

    if genero_min in list(df_item_genre.genres):

        lista_de_items_del_genero = list(df_item_genre[df_item_genre.genres == genero_min].item_id)
        df = df_users_items[df_users_items.item_id.isin(lista_de_items_del_genero)]

        top5 = df.groupby('user_id')['playtime_forever'].sum().reset_index()
        top5 = top5.sort_values('playtime_forever',ascending=False).head() # aca ta el user id y las hs de juego
        top5 = top5.merge(df_users[['user_id','user_url']], on='user_id', how='left')
        users_top5 = list(top5.user_id)
        user_url_top5 = list(top5.user_url)

        out = {"users_top5":users_top5}#, "user_url_top5":user_url_top5}
        return out

    else:
        out = {f'el género {genero} no éxiste. Intente nuevamente. EJ: "Action"'}
        return out

In [32]:
userforgenre('action')

{'users_top5': ['Sp3ctre',
  'shinomegami',
  'REBAS_AS_F-T',
  'Terminally-Chill',
  'DownSyndromeKid']}

-----

5.
def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de salida:
            Ejemplo de salida:
            Activision	
            Año	Contenido Free
            2023	27%
            2022	25%
            xxxx	xx%

            *tabla games
            *tabla games_tags
            *tabla tags

In [20]:
df_developer.head(2)

          developer  price  year
0         kotoshiro   4.99  2018
1  secret level srl   0.00  2018

In [21]:
def developer(desarrollador : str ):

    desarrollador_minusculas = desarrollador.lower().strip()

    
    if any(part in desarrollador_minusculas for part in df_developer['developer']):
        
        df_filtrado = df_developer[df_developer.developer == desarrollador_minusculas]
        df_xanio = df_filtrado.groupby(['year']).size().reset_index(name=('cantidad_total'))
        df_filtrado_free = df_filtrado[df_filtrado.price == 0].groupby(['year']).size().reset_index(name=('cantidad_free'))
        df = df_xanio.merge(df_filtrado_free,how='left')

        cantidad_de_items = df.shape[0]

        df['porcentaje'] = round(df.cantidad_free /df.cantidad_total,3) *100
        df['porcentaje'] = df['porcentaje'].fillna(0)


        anios = df_xanio['year'].tolist()
        porcentaje_free_por_anio = df['porcentaje'].tolist()

        out = {
            "cantidad_de_items": cantidad_de_items,
            "anios": anios,
            "porcentaje_free_por_anio": porcentaje_free_por_anio
            }
        
    else:
         out = {F'El desarrollador {desarrollador}, no éxiste. Intente nuevamente. EJ: "kotoshiro"'}

    return out

In [22]:
developer('sacda')

{'El desarrollador sacda, no éxiste. Intente nuevamente. EJ: "kotoshiro"'}

--------------

def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.

                    Ejemplo de retorno: {Negative = 182, Neutral = 120, Positive = 278}

In [23]:
def sentiment_analysis( anio : int ):

    df_filtrado = df_reviews[df_reviews.year == anio].groupby(['sentiment_analysis']).size().reset_index(name=('cantidad'))

    negative = int(df_filtrado.iloc[0,1])
    neutral = int(df_filtrado.iloc[1,1])
    positive = int(df_filtrado.iloc[2,1])

    return {"Negative":negative,"Neutral":neutral,"Positive":positive}

In [24]:
sentiment_analysis(2011)

{'Negative': 85, 'Neutral': 66, 'Positive': 298}

In [25]:
df_reviews.year.unique()

array([2011., 2014., 2013.,   nan, 2015., 2012., 2010.])

In [26]:
df_developer[df_developer.developer == 'sacada']

      developer  price  year
8522     sacada   4.99  2017
8631     sacada   7.99  2017
8675     sacada   1.99  2017
8987     sacada   7.99  2017
9392     sacada   9.99  2017
9579     sacada   9.99  2017
9977     sacada   3.99  2017
10215    sacada   8.99  2017
12145    sacada   7.99  2017
12479    sacada   9.99  2017
12990    sacada   1.99  2017
13166    sacada   6.99  2017
13632    sacada   5.99  2017
14476    sacada   1.99  2017
14625    sacada   8.99  2017
15288    sacada   1.99  2017
16132    sacada   9.99  2017
27590    sacada   4.99  2018

In [27]:
df_filtrado = df_developer[df_developer.developer == 'sacada']
df_filtrado

      developer  price  year
8522     sacada   4.99  2017
8631     sacada   7.99  2017
8675     sacada   1.99  2017
8987     sacada   7.99  2017
9392     sacada   9.99  2017
9579     sacada   9.99  2017
9977     sacada   3.99  2017
10215    sacada   8.99  2017
12145    sacada   7.99  2017
12479    sacada   9.99  2017
12990    sacada   1.99  2017
13166    sacada   6.99  2017
13632    sacada   5.99  2017
14476    sacada   1.99  2017
14625    sacada   8.99  2017
15288    sacada   1.99  2017
16132    sacada   9.99  2017
27590    sacada   4.99  2018

In [28]:
df_xanio = df_filtrado.groupby(['year']).size().reset_index(name=('cantidad_total'))
df_xanio

   year  cantidad_total
0  2017              17
1  2018               1

In [29]:
df_filtrado_free = df_filtrado[df_filtrado.price == 0].groupby(['year']).size().reset_index(name=('cantidad_free'))
df_filtrado_free

Empty DataFrame
Columns: [year, cantidad_free]
Index: []

In [30]:
df = df_xanio.merge(df_filtrado_free,how='left')
df

   year  cantidad_total  cantidad_free
0  2017              17            NaN
1  2018               1            NaN